body { font-family: 'Ubuntu', sans-serif;}

.content {
  max-width: 500px;
  margin: auto;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=reset] {
  background-color: #ffffff;
  border: 1px solid #04AA6D;
  color: #04AA6D;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 80%;
}

.hide {
	display: none;
}
.text-success {
	color: green;
}
.text-error {
	color: red;
}